<div class="input-container">
    <!-- use ngFor for all items in array of numbers and operators? -->
     <div class="input-button-container">
        <div class="input-button-number-container">
            <button class="input-button-number" *ngFor="let number of numericValues" id="number" (click)="submitInput(number)">
                {{number}}
            </button>
            <button id="." (click)="clearDisplay()">
                {{operatorValues[5]}}
            </button>
            <button id="clear" (click)="clearDisplay()">
                {{operatorValues[6]}}
            </button>
        </div>
        <div class="input-button-operator-container">
            <button class="input-button-operator" *ngFor="let operator of plainOperators" id="operator" (click)="submitInput(operator)">
                {{operator}}
            </button>
        </div>
     </div>
</div>