.input-container {
    display: flex;
}

.input-button-container {

}

.input-button-number-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-button-operator-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 

}

.input-button-number {

}

.input-button-operator {

}
